/* footer section */

.footerhead {
    margin-top: 4rem;
    background-color: var(--light1);
}

section .footerh {
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

section .footerh .pages ul li {
    margin-top: 1rem;
    list-style: none;
}

section .footerh .pages ul li a {
    text-decoration: none;
    transition: all .2s ease-in;
}

section .footerh .send .ooa p {
    margin-top: 1rem;
    padding: 0 4rem 1rem 0;
}

section .footerh .send .fuogm {
    margin-top: 1.5rem;
}

section .footerh .send .fuogm li {
    margin-top: .7rem;
    list-style: none;
}

section .footerh .send .fuogm li a {
    text-decoration: none;
    transition: all .2s ease-in;
}

section .footerh .send .cve {
    margin-top: 1.5rem;
}

section .footerh .send .cve li {
    margin-top: .7rem;
    list-style: none;
}

section .footerh .send .cve li a {
    text-decoration: none;
    transition: all .2s ease-in;
}

section .footerh .send .cve li:hover a,
section .footerh .send .fuogm li:hover a,
section .footerh .pages ul li:hover a {
    color: var(--light);
}

a section .footerh .pimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

section .footerh .pimg img {
    margin-left: 80px;
    overflow: hidden;
    width: 250px;
    height: 300px;
}


/* footer */

footer .copyright {
    background-color: var(--dark);
    text-align: center;
}

footer .copyright li {
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .copyright li span {
    color: var(--light);
}

footer .copyright li span a {
    text-decoration: none;
    color: var(--button);
}

footer .copyright li span a:hover {
    color: var(--light1);
}